####################################################################
# Census Getter Properties
####################################################################



# Census API Settings
# ------------------------------------------------------------------

# State, Counties & Year to get ACS data. Will use 5 year ACS by default. 
state: 53
counties: ['035', '033', '053', '061']
census_year: 2023
pums_year: 2021
tract: None

# Must create Env Variable holding census key. Put name of Var here:
census_key: CENSUS_KEY

controls_expression_file: census_getter_expressions.csv
apply_acs_shares_expression_file: ofm_shares.csv

# Relate block groups with tracts
hh_bg_size_attr: "B11001_001E"
hh_tract_size_attr: "B08201_001E"
pers_bg_size_attr: "B01001_001E"
pers_tract_size_attr: "B01003_001E"

# Local Data
# ------------------------------------------------------------------
# Provide non-Census data for use in expression files
data_dir: data
output_dir: data # set output dir to data for easy access by PopSim later

input_table_list:
  - tablename: ofm_control_totals
    filename : ofm_control_totals.csv
  - tablename: hh_size_control_totals
    filename: hh_size_2020_dc.csv

pums_table_list:
  - tablename: pums_hh
    filename: psam_h53.csv
  - tablename: pums_person
    filename: psam_p53.csv
  - tablename: puma_geog_lookup
    filename: puma_geog_lookup.csv

output_table_list:
  - tablename: seed_households
    filename: seed_households.csv
  - tablename: seed_persons
    filename: seed_persons.csv
  - tablename: all_acs
    filename: all_acs.csv
  - tablename: combined_acs
    filename: combined_acs.csv
  - tablename: all_input_data
    filename: all_input_data.csv
  - tablename: ofm_controls
    filename: ofm_controls.csv

nan_fill: 0

# pypyr steps to run
steps:
 - census_getter.steps.pums_download
 - census_getter.steps.prepare_pums
 - census_getter.steps.load_data
 - census_getter.steps.get_acs_data
 - census_getter.steps.apply_acs_shares
 - census_getter.steps.write_tables